* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ActionCloud */
.actionCloud {
  border-radius: 50%;
  background: #ffffff;
  height: 20px;
  width: 20px;
  box-shadow: #ffffff 22px -5px, #ffffff 8px -8px, #ffffff 10px 3px, #ffffff 20px 5px,
    #ffffff 28px 2px;
  visibility: hidden;
}

.actionCloud i {
  transform: scale(1.3);
  position: relative;
  left: 15px;
}

/* Settings */

#settings {
  padding: 0.5rem;
  padding-bottom: 0.3rem;
  background-color: #edb872;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  color: black;
  font-family: Rowdies;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#settingsActive {
  padding: 0.5rem;
  padding-bottom: 0.3rem;
  background-color: #ab742b;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  color: black;
  font-family: Rowdies;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#settingsWrapper {
  position: fixed;
  top: 10px;
  right: 10px;
  filter: drop-shadow(-3px 4px #835211);
  transition: 0.2s ease-in-out;
}

#settingsWrapperActive {
  position: fixed;
  top: 10px;
  right: 10px;
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.2s ease-in-out;
}

#settingsWrapper:hover #settings {
  transform: translate(2px, -2px);
}

#settingsWrapper:hover {
  filter: drop-shadow(-5px 6px #835211);
}

#settings > img,
#settingsActive > img {
  width: 2rem;
  height: 2rem;
}

/* UserDataBox */
#userDataBoxWrapper {
  position: fixed;
  top: 10px;
  left: 10px;
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
}

#userDataBox {
  padding: 1.6rem;
  background-color: #edb872;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  color: black;
  font-family: Rowdies;
}

#userDataBox > h1 {
  font-size: 1.5rem;
}

#userDataBox > h2 {
  font-size: 1.2rem;
}

/* Status and Coop */
#statusAndCoopContainer {
  position: fixed;
  left: 15px;
  top: calc(110px + 0.4rem);
}

#statusButtonWrapper,
#coopButtonWrapper {
  filter: drop-shadow(-3px 4px #835211);
  transition: 0.2s all ease-in-out;
}

#statusButtonWrapperActive,
#coopButtonWrapperActive {
  filter: none;
  transition: 0.2s all ease-in-out;
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
}

#statusButton,
#coopButton {
  width: 100px;
  margin: 0.5rem 0;
  margin-bottom: 1rem;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  background-color: #edb872;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  color: black;
  font-family: Rowdies;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

#statusButtonActive,
#coopButtonActive {
  width: 100px;
  margin: 0.5rem 0;
  margin-bottom: 1rem;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  background-color: #ab742b;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  color: black;
  font-family: Rowdies;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transform: translate(-3px, 4px);
  transition: 0.2s ease-in-out;
}

#statusButtonWrapper:hover #statusButton,
#coopButtonWrapper:hover #coopButton {
  transform: translate(2px, -2px);
}

#statusButtonWrapper:hover,
#coopButtonWrapper:hover {
  filter: drop-shadow(-5px 6px #835211);
}

#advertisementContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#advertisementContainer button {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#advertisementContainer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#adButtonWrapper {
  margin: 0.2rem;
  filter: drop-shadow(-3px 4px #835211);
  transition: 0.2s ease-in-out;
}

#adButtonWrapperActive {
  margin: 0.2rem;
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.2s ease-in-out;
}

#advertisementContainer > div:last-child {
  margin-bottom: 1rem;
}

#adButton {
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  background-color: #f6dcb8;
  padding: 0.2rem 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#adButtonActive {
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  background-color: #ab742b;
  padding: 0.2rem 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#adButtonWrapper:hover {
  filter: drop-shadow(-5px 6px #835211);
}

#adButtonWrapper:hover #adButton {
  transform: translate(2px, -2px);
}

#advertisementContainer > div > div > button > img {
  height: auto;
  width: 2rem;
  margin: 0.2rem;
}

#coopAdWrapper {
  margin: 0.2rem;
  filter: drop-shadow(-3px 4px #835211);
  transition: 0.2s ease-in-out;
}

#coopAdWrapperActive {
  margin: 0.2rem;
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.2s ease-in-out;
}

#coopAdWrapper:hover {
  filter: drop-shadow(-5px 6px #835211);
}

#coopAdWrapper > button {
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  background-color: #f6dcb8;
  padding: 0.2rem 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#coopAdWrapperActive > button {
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  background-color: #ab742b;
  padding: 0.2rem 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#coopAdWrapper:hover button {
  transform: translate(2px, -2px);
}

#coopAdWrapper > button > img {
  height: auto;
  width: 3rem;
}

/* TimeDataBox */
#timeTokenBoxWrapper {
  height: 9rem;
  width: 18rem;
  position: fixed;
  right: 7.5rem;
  bottom: -18px;
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 5;
}

#timeTokenBox {
  height: 100%;
  width: 100%;
  padding: 1.2rem;
  background-color: #edb872;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  color: black;
  font-family: Rowdies;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#timerBoxWrapper {
  position: fixed;
  right: -10px;
  bottom: -18px;
  height: 9rem;
  width: 9rem;
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 10;
}

#timerBox {
  height: 100%;
  width: 100%;
  padding: 1.2rem;
  background-color: #edb872;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  color: black;
  font-family: Rowdies;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timeTokenBox > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#timeTokenBox > div > div {
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
}

#timeTokenBox > div > div > div {
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  width: 2.3rem;
  height: 2.3rem;
  background-color: #f6dcb8;
}

#clock {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  background-image: conic-gradient(#edb872 0%, 0, #677818);
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock > div {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  background-color: #edb872;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock > div > span {
  color: black;
  font-family: Rowdies;
  font-size: large;
  display: block;
}

/* EquipmentDataBox */
#equipmentBox {
  position: fixed;
  height: 9rem;
  bottom: -18px;
  left: -15px;
  padding: 1.2rem;
  padding-left: 2.3rem;
  background-color: #edb872;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
}

#equipmentBoxContent {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  font-family: Rowdies;
}

#equipmentBoxContent > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#equipmentBoxContent > div > h1 {
  font-size: 1rem;
}

#equipmentBoxContent > div > div {
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
}

#equipmentBoxContent > div > div > p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 42px;
  background-color: #f6dcb8;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
}

/* InteractionViewBox */
#interactionBoxWrapper {
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
  width: 350px;
}

#interactionBox {
  width: 100%;
  color: black;
  background-color: #e3c296;
  padding: 1rem;
  border-radius: 2px;
  font-size: medium;
  display: flex;
  gap: 1rem;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
}

#interaction i {
  transform: scale(1.5);
}

/* RequestBox */
#requestBox {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 4vw;
  margin-bottom: 4vw;
  max-width: 30vw;
  background-color: rgb(136, 89, 41);
  opacity: 0.95;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#requestBoxContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#requestBox h5 {
  font-size: 1rem;
}

#requestButtonsBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#requestButtonsBox button {
  padding: 0.2rem;
  font-size: 1rem;
  color: white;
  background-color: rgb(73, 48, 22);
}

/* TradeBox */
#tradeBox {
  width: 65vw;
  height: 65vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #524436;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  color: azure;
  padding: 0.5rem 0;
}

#tradeBoxTitle {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#tradeBoxContent {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

#tradeBoxContentPlayer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #362b21;
  border-radius: 1rem;
  border: 3px solid rgba(31, 25, 19, 0.8);
}

#tradeBoxContentPlayer > h2 {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tradeBoxContentPlayer h5,
#tradeBoxContentPlayer p {
  font-size: 1.1rem;
}

#tradeBoxContentPlayerOfferEq {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

#tradeBoxContentPlayerOfferEq > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  margin: 0.1rem;
}

#tradeBoxContentNeighbor {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #362b21;
  border-radius: 1rem;
  border: 3px solid rgba(31, 25, 19, 0.8);
}

#tradeBoxContentNeighbor > h2 {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tradeBoxContentNeighbor h5,
#tradeBoxContentNeighbor p {
  font-size: 1.1rem;
}

#tradeBoxContentNeighborOfferEq {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

#tradeBoxContentNeighborOfferEq > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  margin: 0.1rem;
}

#tradeBoxButtons {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#tradeBoxButtons button {
  padding: 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#resourceWrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#tradeButtonWrapper {
  display: flex;
  justify-content: center;
  width: 40%;
}

#tradeButtonWrapper > button {
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

#tradeButtonWrapper > button:hover {
  background-color: #cfcfcf;
}

#tradeButtonWrapper > button:first-child {
  margin-right: 0.5rem;
}

#bidIndicatorWrapper {
  display: flex;
  justify-content: center;
  width: 10%;
}

.upBid {
  color: rgb(0, 180, 0);
}

.stableBid {
  color: rgb(180, 180, 0);
}

.downBid {
  color: rgb(180, 0, 0);
}

.arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(2);
  margin: 1rem;
}

.arrow-container i {
  margin-top: 0.5rem;
}

#tradeBoxAcceptBtn {
  background-color: rgb(0, 180, 0);
  border-radius: 8px;
  border: 2px solid rgb(255, 255, 255);
  font-weight: 600;
  padding: 5px 10px;
  width: 15%;
  color: azure;
}

#tradeBoxAcceptBtn:hover {
  background-color: rgb(0, 140, 0);
}

#tradeBoxSendOfferBtn {
  background-color: rgb(180, 180, 0);
  border-radius: 8px;
  border: 2px solid rgb(255, 255, 255);
  font-weight: 600;
  padding: 5px 10px;
  width: 15%;
  color: azure;
}

#tradeBoxSendOfferBtn:hover {
  background-color: rgb(140, 140, 0);
}

#tradeBoxCloseBtn {
  background-color: rgb(180, 0, 0);
  border-radius: 8px;
  border: 2px solid rgb(255, 255, 255);
  font-weight: 600;
  padding: 5px 10px;
  width: 15%;
  color: azure;
}

#tradeBoxCloseBtn:hover {
  background-color: rgb(140, 0, 0);
}

#btns button {
  background-color: #524436;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.95;
}

#btns button:hover {
  background-color: #42372c;
}

#btns button:hover > i {
  display: none;
}

#btns button:hover > p {
  display: inline;
}

#btns button:first-child {
  transform: translate(-75%, 0);
}

#btns button:last-child {
  transform: translate(75%, 0);
}

#btns button p {
  display: None;
  font-weight: 600;
  font-size: small;
  color: white;
}

#btns button i {
  transform: scale(2);
  color: white;
}

/* WorkshopBox */
#workshopBoxWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#workshopBox {
  min-width: 650px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#workshopBoxHeaderBoxWrapper {
  position: relative;
}

#workshopBoxHeaderBox {
  width: 100%;
  background-color: #edb872;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  font-family: Rowdies;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#workshopBoxHeaderBox h1 {
  font-size: 2.3rem;
}

#workshopBoxHeaderBox > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#workshopBoxHeaderBox > div > img {
  width: 28px;
  height: 28px;
}

#workshopBoxHeaderBox > div > h2 {
  font-size: 1.4rem;
}

#workshopBoxMathBox {
  padding: 0.8rem;
  background-color: #f6dcb8;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  color: #000;
  font-family: Rowdies;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

#workshopBoxContentBox {
  height: 280px;
  width: 100%;
  background-color: #edb872;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  color: #000;
  font-family: Rowdies;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#workshopBoxContentBox > hr {
  border: 1px solid rgba(131, 82, 17, 0.7);
}

#workshopBoxContentBoxLeft {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex-grow: 1;
}

#workshopBoxContentBoxRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

#workshopBoxContentBoxCostBox {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

#workshopBoxContentBoxCostBox > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

/* resources */
#workshopBoxContentBoxCostBox > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* resource */
#workshopBoxContentBoxCostBox > div > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#workshopBoxContentBoxCostBox > div > div > div {
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
}

#workshopBoxContentBoxCostBox > div > div > div > h4 {
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 42px;
  height: 42px;
  background-color: #f6dcb8;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
}

#pTime {
  justify-self: flex-end;
  width: 205px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

#pTime > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #f6dcb8;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
}

#pTime > div {
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
}

#workshopBoxContentBoxResultBox {
  display: flex;
  gap: 4rem;
}

#workshopBoxContentBoxResultBox > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

#workshopBoxContentBoxResultBox > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#workshopBoxContentBoxResultBox > div > span {
  font-size: 1.4rem;
}

#workshopBoxContentBoxResultBox > div > div {
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
}

#workshopBoxContentBoxResultBox > div > div > h2 {
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 42px;
  height: 42px;
  background-color: #f6dcb8;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
}

#workshopBoxContentBoxButtonsBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#workshopBoxContentBoxButtonsBox > button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  color: #edb872;
  font-family: Rowdies;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workshopBoxContentBoxButtonsBoxButtonEnabled {
  background-color: #835211;
  cursor: pointer;
}

.workshopBoxContentBoxButtonsBoxButtonDisabled {
  background-color: #e9d3b7;
  cursor: auto;
}

/* SubmitButton */
#workshopBoxSubmitButtonExtraWrapper {
  width: 40%;
  border: none;
}

#workshopBoxSubmitButtonWrapper {
  width: 100%;
  border: none;
}

.workshopBoxSubmitButtonExtraWrapperEnabled {
  transition: 0.2s all ease-in-out;
  filter: drop-shadow(-3px 4px 4px #edb872);
}

.workshopBoxSubmitButtonExtraWrapperEnabled:hover {
  filter: none;
}

.workshopBoxSubmitButtonExtraWrapperEnabledActive {
  transition: 0.2s all ease-in-out;
  filter: none;
}

.workshopBoxSubmitButtonWrapperEnabledActive {
  transition: 0.2s all ease-in-out;
  filter: none;
}

.workshopBoxSubmitButtonWrapperEnabled {
  transition: 0.2s all ease-in-out;
  filter: drop-shadow(-3px 4px #835211);
}

.workshopBoxSubmitButtonWrapperEnabled:hover {
  filter: drop-shadow(-5px 6px #835211);
}

.workshopBoxSubmitButtonWrapperDisabled {
  filter: drop-shadow(-3px 4px #3f382e);
}

.workshopBoxSubmitButtonWrapperDisabled:hover {
  filter: drop-shadow(-3px 4px #3f382e);
}

#workshopBoxSubmitButton {
  width: 100%;
  padding: 0.5rem;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  font-size: 1.2rem;
  font-family: Rowdies;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.workshopBoxSubmitButtonExtraWrapperEnabled:hover .workshopBoxSubmitButtonEnabled {
  cursor: pointer;
  transform: translate(2px, -2px);
}

.workshopBoxSubmitButtonEnabled {
  transition: 0.2s all ease-in-out;
  color: #000;
  background-color: #edb872;
}

.workshopBoxSubmitButtonEnabledActive {
  background-color: #ab742b;
  color: #000;
  transition: 0.2s all ease-in-out;
  transform: translate(-5px, 6px);
}

.workshopBoxSubmitButtonDisabled {
  background-color: #e9d3b7;
  color: #787272;
}

.workshopBoxSubmitButtonDisabled:hover {
  cursor: auto;
  transform: none;
}

/* CloseButton */
#workshopBoxCloseButton {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000;
  font-family: Rowdies;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: -7px;
  right: -7px;
  font-size: 1rem;
  z-index: 999999;
  background-color: #d39f59;
  filter: drop-shadow(-1px 2px rgb(48, 20, 1, 0.9));
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#workshopBoxCloseButton:hover {
  filter: none;
  transform: translate(-1px, 2px);
}

/* WorkshopSuccessBox */
#workshopSuccessBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#workshopSuccessBoxTitleBox {
  background-color: #edb872;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  font-family: Rowdies;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#workshopSuccessBoxTitleBox h1 {
  font-size: 2.3rem;
}

#workshopSuccessBoxTitleBox > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#workshopSuccessBoxTitleBox > div > img {
  width: 28px;
  height: 28px;
}

#workshopSuccessBoxTitleBox h2 {
  font-size: 1.4rem;
}

#workshopSuccessBoxHeaderBox {
  padding: 1.2rem;
  background-color: #e3c296;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#workshopSuccessBoxHeaderBox > h1 {
  font-family: Rowdies;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  font-size: 1.2rem;
}

#workshopSuccessBoxHeaderBox > img {
  width: 20px;
  height: 20px;
}

#workshopSuccessBoxContentBox {
  display: flex;
  font-family: Rowdies;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  font-size: 1rem;
  padding: 1rem 2rem 2rem 2rem;
  background-color: #edb872;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

#workshopSuccessBoxContentBox > * {
  flex: 1;
}

#workshopSuccessBoxContentBoxIconWrapper img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

#workshopSuccessBoxContentBoxResultBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#workshopSuccessBoxContentBoxResultBoxResourcesBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#workshopSuccessBoxContentBoxResultBoxResourcesBox > div {
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
}

#workshopSuccessBoxContentBoxResultBoxResourcesBoxValue {
  background-color: #f6dcb8;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  padding: 10px;
}

#workshopSuccessBoxContentBoxPlayerBox {
  margin-left: 30px;
  margin-top: 35px;
}

/* CloseButton */

#workshopSuccessBoxCloseButtonExtraWrapper {
  transition: 0.2s all ease-in-out;
  filter: drop-shadow(-3px 4px 4px #edb872);
  border: none;
}

#workshopSuccessBoxCloseButtonExtraWrapper:hover {
  filter: none;
}

#workshopSuccessBoxCloseButtonExtraWrapperActive {
  transition: 0.2s all ease-in-out;
  filter: none;
}

#workshopSuccessBoxCloseButtonWrapper {
  transition: 0.2s all ease-in-out;
  filter: drop-shadow(-3px 4px #835211);
}

#workshopSuccessBoxCloseButtonWrapper:hover {
  filter: drop-shadow(-5px 6px #835211);
}

#workshopSuccessBoxCloseButtonWrapperActive {
  transition: 0.2s all ease-in-out;
  filter: none;
}

#workshopSuccessBoxCloseButton {
  border: none;
  padding: 0.8rem 1.6rem;
  font-family: Rowdies;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  font-size: 1.2rem;
  transition: 0.2s all ease-in-out;
  color: #000;
  background-color: #edb872;
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
}

#workshopSuccessBoxCloseButtonExtraWrapper:hover #workshopSuccessBoxCloseButton {
  cursor: pointer;
  transform: translate(2px, -2px);
}

#workshopSuccessBoxCloseButton {
  transition: 0.2s all ease-in-out;
  color: #000;
  background-color: #edb872;
  cursor: pointer;
}

#workshopSuccessBoxCloseButton:hover {
  transform: translate(-1px, 2px);
}

#workshopSuccessBoxCloseButtonActive {
  background-color: #ab742b;
  color: #000;
  transition: 0.2s all ease-in-out;
  transform: translate(-5px, 6px);
}

/* TravelBox */
#travel-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: azure;
  background-color: #524436;
  opacity: 0.95;
  padding: 1rem;
  box-shadow: '0px 3px 10px black';
  font-size: medium;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 1rem;
  min-width: 25vw;
}

#travel-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#travel-buttons > button {
  padding: 0.2rem;
  font-size: medium;
  color: white;
  padding: 5px 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  font-weight: 600;
}

#travel-button-submit {
  background-color: rgb(0, 180, 0);
  cursor: pointer;
}

#travel-button-submit:hover {
  background-color: rgb(0, 140, 0);
}

#travel-button-close {
  background-color: rgb(180, 0, 0);
  cursor: pointer;
}

#travel-button-close:hover {
  background-color: rgb(140, 0, 0);
}

#travel-content {
  max-height: 50vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#travel-content::-webkit-scrollbar {
  width: 10px;
}

#travel-content::-webkit-scrollbar-thumb {
  background-color: #362b21;
  border-radius: 5px;
}

.travel-content-item {
  background-color: #362b21;
  border-radius: 1rem;
  border: 3px solid rgba(31, 25, 19, 0.8);
  padding: 1rem;
  margin-right: 5px;
}

.travel-content-item-header {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  gap: 0.5rem;
}

.travel-content-item-title {
  font-size: x-large;
}

.travel-content-item-money,
.travel-content-item-resources-title {
  font-size: larger;
}

.travel-content-item-resources {
  list-style-type: none;
  margin-left: 0.5rem;
}

.travel-content-item-resource {
  font-size: large;
}

.travel-content-item-resource:before {
  content: '-';
  margin-right: 0.5rem;
}

/* LoadingBox */
#loadingBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#loadingBoxSpinnerContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loadingBoxSpinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

#spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

#errorsAndInfo {
  width: 45vw;
  position: fixed;
  bottom: 8.5rem;
  left: 1rem;
}

/* adBubble */

.adBubbleWrapper {
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
}

.adBubble {
  clip-path: polygon(2.17% 6.34%,0.62% 21.03%,0.35% 40.00%,0.72% 61.46%,1.33% 74.81%,3.62% 84.50%,8.27% 99.90%,11.59% 82.60%,14.01% 78.88%,17.46% 78.79%,25.69% 79.09%,27.55% 75.01%,30.48% 79.67%,49.45% 81.29%,65.67% 81.50%,80.29% 81.14%,93.91% 80.07%,96.90% 78.64%,98.39% 75.08%,98.86% 69.36%,99.30% 50.17%,98.69% 29.41%,97.46% 6.89%,88.50% 4.81%,76.58% 4.88%,74.75% 8.53%,73.08% 4.58%,63.50% 4.32%,39.67% 4.76%,18.83% 5.47%);
  background-color: #F6DCB8;
  transform: translateY(-100%);
  padding: 0.7rem;
}

.bubble-0 {
  padding-bottom: 0%;
  display: none;
}

.bubble-1 {
  padding-bottom: calc(20% - 0.5rem);
  display: block;
}

.bubble-2 {
  padding-bottom: calc(34% - 0.5rem);
  display: block;
}

.adBubbleOffer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem ;
  align-items: center;
  margin-bottom: 0.5rem;
}