.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0.4rem;
}

.container p {
  font-family: Rowdies;
}

.buttons-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 0.4rem;
}

.buttons-container > div:first-child > button {
  background-color: #52b236;
}

.buttons-container > div:last-child > button {
  background-color: #d74a4a;
}

#buttonWrapper {
  filter: drop-shadow(-3px 4px #835211);
  width: 40%;
}

#buttonWrapper:hover {
  cursor: pointer;
  filter: drop-shadow(-5px 6px #835211);
}

.decisionButton {
  clip-path: polygon(
    3.05% 90%,
    24.63% 92.01%,
    27.36% 88.02%,
    30.45% 93.05%,
    39.53% 93.09%,
    54.54% 95.18%,
    72.51% 95.37%,
    91.71% 94.74%,
    94.61% 93.11%,
    96.73% 91.49%,
    97.29% 88.24%,
    98.11% 82%,
    98.4% 64.77%,
    97.93% 49.3%,
    97.51% 29.37%,
    96.68% 9.5%,
    89.4% 9.64%,
    82.38% 8.28%,
    75.41% 7.56%,
    72.98% 14.11%,
    70.73% 7.23%,
    61.53% 6.45%,
    49.95% 5.9%,
    41.43% 4.81%,
    31.72% 5.61%,
    21.73% 5.22%,
    13.26% 5.44%,
    7.33% 6.88%,
    4.36% 7.76%,
    2.44% 11.26%,
    1.58% 18.28%,
    0.98% 27.79%,
    0.91% 39.31%,
    1.09% 51.32%,
    1.59% 62.1%,
    2.09% 76.88%
  );
  padding: 5px 10px;
  width: 100%;
  cursor: pointer;
  font-family: Rowdies;
  border: none;
}

#buttonWrapper:hover .decisionButton {
  transform: translate(2px, -2px);
}

.tag {
  margin: 5px;
  display: none;
  font-style: italic;
  font-family: Rowdies;
}
