.game-settings-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 250px;
  width: 25%;
}

.game-settings-form label {
  font-weight: bold;
  font-size: 1.2rem;
}

.game-settings-form input {
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

.game-settings-form button {
  padding: 10px;
  background-color: #423bc8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
}

.game-settings-form button:hover {
  background-color: #3730a3;
}

.game-settings-form button.disabled {
  background-color: #a4a4a4;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .game-settings-form {
    max-width: 100%;
    padding: 0 1rem;
  }
}
